#!/bin/sh
#
# Copyright (c) 2018,2019 Abacus Technologies, Inc.
# Copyright (c) 2018,2019 Fumiyuki Shimizu
# MIT License: https://opensource.org/licenses/mit-license.php

PATH='/bin:/usr/bin'

FOLDER=$(dirname "$PWD")
FOLDER=$(basename "$FOLDER")
PROJECT=$(basename "$PWD")

STORAGE='../../../darkutil'
#for f in common dn evl.py predict check_images setup.sample config.sample; do
for f in common dn evl.py predict check_images; do
  rm -f "$f"
  ln -s "$STORAGE/$f" "$f"
done
for f in setup.sample config.sample; do
  BN=$(basename $f .sample)
  [ -e "$BN" ] && continue
  if [ -e "$f" ]; then
    cp -p  "$f" "$BN"
  else
    ln -sf "$STORAGE/$f" "$BN"
  fi
done

STORAGE='/data/huge/ILSVRC/yolo'
for d in images labels; do
  rm -f "$d"
  ln -s "$STORAGE/$d" "$d"
done

STORAGE="/data/work/$FOLDER/$PROJECT"
for d in backup results summary; do
  mkdir -p "$STORAGE/$d"
  [ -e "$d" ] || ln -s "$STORAGE/$d" "$d"
done

# end of file
